/*
h1, p {
    color: white;
    background-color: black;
}
*/

/*
#logo {
    color: blue;
    background-color: white;
}
*/

/*
.info {
    color: red;
*/

/*
#para1.lead {
    color: red;
    background-color: blue;
}
*/

/*
a {
    text-decoration: none;
}
*/

/*
ul li a {
    text-decoration: none;
}
*/

/*
.info span {
    color: red;
}
*/

/*
.info .primary {
    color: red
}
*/

/*
* {
    font-size: 30px;
}
*/